

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

h2,h3,h4,h5,h6{
	color: #b30000;
}
















