{% extends 'blog/base.html' %}

{% block title %}
Entertainment Blog
{% endblock %}

{% block content %}

<section class="container">
	<div class="row">
	{% for p in posts %}
	<div class="col-md-4">
	<div class = 'list-group' >
		<article>
			<div class="media-body">
				{% if user.username|stringformat:"s" ==  p.author|stringformat:"s"  %}
				<div class="list-group">
					<a href=""> <strong>{{ p.author }}</strong></a>
					<small> {{ p.date_posted }} </small>
				</div>
				<h2><a  href="" > {{ p.title }} </a></h2>
				<p> {{ p.content }} </p>
				<h2><a  class = "btn btn-success " href = "{% url 'updateentertainment' p.id %}" role = 'button' > Update </a></h2>
				<h2><a  class = "btn btn-danger " href = "{% url 'deleteentertainment' p.id %}" role = 'button' > Delete </a></h2>
				{% else %}
				<div class="list-group">
					<a href=""> <strong>{{ p.author }}</strong></a>
					<small> {{ p.date_posted }} </small>
				</div>
				<h2><a href=""> {{ p.title }} </a></h2>
				<p> {{ p.content }} </p>
				{% endif %}
			</div>
		</article>
	</div>
	</div>
	{% endfor %}
	</div>

</section>

<section class = "container" >
	<form action = "entertainment_post_add/" method = "post">
		{% csrf_token %}
		<p>
			Title : 
			<input type="text" name="entertainment_post_title"> </input>
		</p>
		<p>
			Please submit your blog :
			<input type="text" name="entertainment_post_content"> </input> 
		</p>
		<button class = "btn btn-primary " type="submit"> Submit </button>
	</form>
</section>
{% endblock %}
{% block footer %}
{% endblock %}