{% extends 'blog/base.html' %}

{% block title %}
Sports blog
{% endblock %}
{% block content %}
<section class="container">
	{% for p in posts %}
	<div class="list-group" >
		<article>
			<div class="media-body">
				{%  if user.username|stringformat:"s" ==  p.author|stringformat:"s"  %}
				<div class="list-group">
					<a href="#"> <strong>{{ p.author }}</strong></a>
					<small> {{ p.date_posted }} </small>
				</div>
				<h2><a href="{% url 'updatesports' p.id %}"> {{ p.title }} </a></h2>
				<p> {{ p.content }} </p>
				{% else %}
				<div class="list-group">
				<a href=""> <strong>{{ p.author }}</strong></a>
				<small> {{ p.date_posted }} </small>
				</div>
				<h2><a href=""> {{ p.title }} </a></h2>
				<p> {{ p.content }} </p>
				{% endif %}
			</div>
		</article>
	</div>
	{% endfor %}

</section>
<section class="container">
	<form action = "sports_post_add/"method="post" >
		{% csrf_token %}
		<p>
			Title : 
			<input type="text" name="sports_post_title"> </input>
		</p>
		<p>
			Please Submit your blog :
			<input type="text" name="sports_post_blog"></input>
		</p>
		<button class = "btn btn-primary btn-lg" type = "submit"> Submit </button>
	</form>
</section>
{% endblock %}
